<!-- Permet de créer le template à partir d'un autre deja existant, base.html -->

{% extends 'base/base.html' %}

{% load static %}

{% block title %}Recherche - SyncIn{% endblock %}

{% block site_css %}{% endblock %}

{% block body %}

<!-- Barre de recherche pour les grands écrans -->
<div class="search-container show-for-large">
    <div class="grid-container-2">
        <div class="grid-x">
            <div class="cell small-12">
                <form  method="get" action="{% url 'result' '0' %}">
                    <input type="text" name="vlad" id="vlad" class="search-input" placeholder="Recherchez une musique ..." autocomplete="off">
                    <div class="submit-container">
                        <button type="submit" class="search-button" id="submit">Rechercher</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Barre de recherche pour les petits écrans -->
<div class="search-container smol hide-for-large">
    <div class="grid-container-2">
        <div class="grid-x">
            <div class="cell small-12">
                <form  method="get" action="{% url 'result' '0' %}">
                    <input type="text" name="vlad" id="vlad" class="search-input" placeholder="Recherchez une musique ..." autocomplete="off">
                    <div class="submit-container">
                        <button type="submit" class="search-button" id="submit">Rechercher</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

