{% extends 'base/base.html' %} 

{% load static %} 

{% block title %}SyncIn - Runaway{% endblock %}

{% block site_css %}{% endblock %} 

{% block body %}



<div class="grid-container music-container">
    <div class="title">
        <h1>{{ song.title }}</h1>
    </div>

    {% if profile.is_connected %}
    <div class="like-container container">
        <form method="post">
            {% csrf_token %}
            <div class="buttons">
                {% if is_liked %}
                <button class="buttonn like static">LIKE</button>
                <button class="buttonn dislike live" name="fav" value="dislike">DISLIKE</button>
                {% else %}
                <button class="buttonn like live" name="fav" value="like">LIKE</button>
                <button class="buttonn dislike static">DISLIKE</button>
                {% endif %}
            </div>
        </form>
    </div>
    {% endif %}

    <div class="author-container container">
        <div class="title green">
            <h2>- Artistes -</h2>
        </div>
        <div class="main-author-container">
            <div class="author-img in">
                <img src="{{ author.image }}" alt="{{ author.name }}">
            </div>
            <div class="author-description in">
                <h2>{{ author.name }}</h2>
                <h3>{{ author.desc }}{% if author.found %} ... (Wikipédia){% endif %}</h3>
                {% if author.found %}
                <a class="green" target="_blank" href="{{ author.link }}">En savoir plus</a>
                {% endif %}
            </div>
        </div>
        <div class="other-authors-container grid-x grid-margin-x">
            {% for artist in song.feats.all %}
            <div  class="cell small-12 medium-6 large-4">
                {% if artist.found %}
                <a class="other-a" target="_blank" href="{{ artist.link }}">
                    <div class="grid-x grid-margin-x">
                        <div class="other-author-img in cell small-4">
                            <img src="{{ artist.image }}" alt="{{ artist.name }}">
                        </div>
                        <div class="other-author-description in cell small-8">
                            <h2 class="no-marginn">{{ artist.name }}</h2>
                        </div>
                    </div>
                    
                </a>
                {% else %}
                <div class="grid-x">
                    <div class="other-author-img in cell small-4">
                        <img src="{{ artist.image }}" alt="{{ artist.name }}">
                    </div>
                    <div class="other-author-description in cell small-8">
                        <h2>{{ artist.name }}</h2>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="info-container container">
        <div class="title green">
            <h2>- Informations -</h2>
        </div>
        <div class="grid-x grid-margin-x info-grid">
            <div class="cell small-12 large-6">
                <div class="duration-container">
                    <h2>Durée: {{ song.durationM }} min {{ song.durationS }} sec </h2>
                </div>
                <div class="grid-x grid-margin-x links">
                    <div class="cell small-6">
                        <h2>Liens externes</h2>
                    </div>
                    <div class="cell small-6">
                        <a target="_blank" href="{{ song.spotLink }}" class="green link">Spotify</a> <br /><br />
                        <a target="_blank" href="{{ song.ytLink }}" class="red link">Youtube</a>
                    </div>
                </div>
            </div>
            <div class="cell small-12 large-6">
                <div class="title-paroles">
                    <h2>Paroles</h2>
                </div>
                <div class="lyrics-container">
                    <p>{{ song.lyrics }}</p>
                </div>
                
            </div>
            <div class="cell small-12 large-6">

            </div>
        </div>
        

    </div>

    <div class="album-container container">
        <div class="title green">
            <h2>- Album -</h2>
        </div>

        <div class="main-author-container">
            <div class="author-img in">
                <img src="{{ album.image }}" alt="{{ album.name }}">
            </div>
            <div class="author-description in">
                <div class="title"><h2>{{ album.name }}</h2></div>
                <h2 class="marginn">Release date: {{ album.dat}}</h2>
                <a target="_blank" href="{{ album.link }}" class="green link">Spotify</a>
            </div>
        </div>

        <div class="title">
            <h2>Other songs from {{ album.name }}</h2>
        </div>

        <div class="other-authors-container grid-x grid-margin-x">
            <!-- {% for song in results.album.others %}
            <div  class="cell small-12 medium-6 large-4">
                <a class="other-a" href="{% url 'music' song.id %}">
                    <div class="grid-x grid-margin-x">
                        <div class="other-author-img in cell small-4">
                            <img src="{{ results.album.image }}" alt="{{ song.name }}">
                        </div>
                        <div class="other-author-description in cell small-8">
                            <h2 class="no-marginn">{{ song.name }}</h2>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %} -->
        </div>
    </div>

    
</div>

{% endblock %}