<!-- Permet de créer le template à partir d'un autre deja existant, base.html -->

{% extends 'base/base.html' %}

{% load static %}

{% block title %}SyncIn{% endblock %}

{% block site_css %}{% endblock %}

{% block body %}
<!-- Section de la grosse image -->
<div class="grosse-image section" id="parallax">
    <div class="row"></div>
</div>

<!-- Section des informations sur le site -->
<div class="meta-celebrate">
    <div id="Info"></div>
    <h1>Quel est le but de SyncIn</h1>
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell small-12">SyncIn est un assistant musical permettant d'optimiser votre expérience musicale. Recherchez simplement votre musique par nom ou par artiste et accédez à des tonnes d'informations en un clic ! Relaxez et profitez de votre musique pendant que SyncIn gère le reste.</div> 
        </div>
    </div>
    <img src="{% static 'main/Images/favicon_io/android-chrome-512x512.png' %}" width="300px">
</div>



<!-- Section de SyncIn en chiffres -->
<div class="celebrate-number section">
    <h1>SyncIn en chiffres</h1>
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell large-6 small-12">
                <div class="celebrate text">
                    <p>Accès à des tonnes de chansons </p>
                </div>
                <div class="celebrate number">
                    <p class="big"><span data-purecounter-start="0" data-purecounter-end="80" data-purecounter-duration="2" data-purecounter-delay="5" id="purecounter0" class="purecounter">80</span>M</p>
                </div>
            </div>
            <div class="cell large-6 small-12">
                <div class="celebrate number">
                    <p class="big"><span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="2" data-purecounter-delay="5" id="purecounter1" class="purecounter">100</span>%</p>
                </div>
                <div class="celebrate text">
                    <p>Une fiabilité record </p>
                </div>
            </div>
            <div class="cell large-6 small-12">
                <div class="celebrate text">
                    <p>Nombre de chansons enregistrées </p>
                </div>
                <div class="celebrate number">
                    <p class="big"><span data-purecounter-start="0" data-purecounter-end="{{ length }}" data-purecounter-duration="2" data-purecounter-delay="5" id="purecounter2" class="purecounter">90</span></p>
                </div>
            </div>
            <div class="cell large-6 small-12">
                <div class="celebrate number">
                    <p class="big"><span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="2" data-purecounter-delay="5" id="purecounter3" class="purecounter">90</span></p>
                </div>
                <div class="celebrate text">
                    <p>Programmeurs dévoués </p>
                </div>
                
            </div>
        </div>
    </div>
</div>

<!-- Section de la roadmap -->
<div class="roadmap section" id="Roadmap">
    <h1 class="title">Roadmap</h1>
    <div class="grid-container">
        <div class="grid-x">
            <!-- Affichage de la roadmap pour les grands écrans -->
            <div class="cell small-12 show-for-large">
                <div class="road-container">
                    <svg height="1000">
                        <path class="path" fill="none" stroke="#ffffff" stroke-width="5" d="M 50 50 C 74 188 135 222 223 223 C 313 224 380 248 420 350 C 428 371 461 355 515 371 C 602 404 574 524.3333 580 650 C 575 716 546 809 488 850 C 454 876 441 916 357 820 C 342 795 266 835 270 950" />
                    </svg>
                    <div class="destination d1">
                        <img src="{% static 'main/Images/address-3.png' %}" alt="Destination" class="destination-img">
                        <p class="destination-text">13 MAI 2022 - Premier release officiel du site web, et remise du projet d'intégration</p>
                    </div>
                    <div class="destination d2">
                        <img src="{% static 'main/Images/address-3.png' %}" alt="Destination" class="destination-img">
                        <p class="destination-text">JUIN 2022 - Ajout d'une fonctionnalité pour télécharger les chansons à même le site</p>
                    </div>
                    <div class="destination d3">
                        <img src="{% static 'main/Images/address-3.png' %}" alt="Destination" class="destination-img">
                        <p class="destination-text">JUILLET 2022 - Implémentation d'un système enregistrant les chansons les plus populaires dans la database sans avoir besoin de les rechercher</p>
                    </div>
                    <div class="destination d4">
                        <img src="{% static 'main/Images/address-3.png' %}" alt="Destination" class="destination-img">
                        <p class="destination-text">SEPTEMBRE 2022 - Hébergement du site sur un serveur de meilleure qualité</p>
                    </div>
                </div>
            </div>
            <!-- Affichage de la roadmap pour les petits écrans -->
            <div class="cell small-12 hide-for-large small-container">
                <div class="small-destination-container">
                    <div class="destination smaller">
                        <img src="{% static 'main/Images/address-3.png' %}" alt="Destination" class="destination-img">
                        <p class="destination-text">13 MAI 2022 - Premier release officiel du site web, et remise du projet d'intégration</p>
                    </div>
                    <svg height="90">
                        <path class="path" fill="none" stroke="#ffffff" stroke-width="7" d="M 25 0 L 25 90" />
                    </svg>
                    <div class="destination smaller">
                        <img src="{% static 'main/Images/address-3.png' %}" alt="Destination" class="destination-img">
                        <p class="destination-text">JUIN 2022 - Ajout d'une fonctionnalité pour télécharger les chansons à même le site</p>
                    </div>
                    <svg height="90">
                        <path class="path" fill="none" stroke="#ffffff" stroke-width="7" d="M 25 0 L 25 90" />
                    </svg>
                    <div class="destination smaller">
                        <img src="{% static 'main/Images/address-3.png' %}" alt="Destination" class="destination-img">
                        <p class="destination-text">JUILLET 2022 - Implémentation d'un système enregistrant les chansons les plus populaires dans la database sans avoir besoin de les rechercher</p>
                    </div>
                    <svg height="90">
                        <path class="path" fill="none" stroke="#ffffff" stroke-width="7" d="M 25 0 L 25 90" />
                    </svg>
                    <div class="destination smaller">
                        <img src="{% static 'main/Images/address-3.png' %}" alt="Destination" class="destination-img">
                        <p class="destination-text">SEPTEMBRE 2022 - Hébergement du site sur un serveur de meilleure qualité</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="meta">

</div>

<script src="{% static 'main/anim/countUp.js' %}"></script>
<script src="{% static 'main/anim/main_app.js' %}"></script>

{% endblock %}